{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="title" content="Ask online Form">
    <meta name="language" content="English">
    <title>Forum</title>

    <link rel="stylesheet" href="{% static 'css/bootstrap.css'%}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}"  type="text/css">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/editor.css' %}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}" type="text/css">
</head>

<body>
    <section class="welcome-part-one">
        <div class="container">
            <ol class="breadcrumb breadcrumb839">
                <li><a href="{% url "home"%}">Home</a></li>
                <li><a href="{% url "forum:forum_index"%}">Forum</a></li>
            </ol>
            <div class="welcome-demop102 text-center">
                <h1 style="font-weight: bold; color: #fff;">Forum</h1>
                <h2>English Club</h2>
                <p>Ask Some Questions Here or Find some interesting things around you
                    <br>bala bala 
                </p>

                <div class="form-style8292">
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="fa fa-pencil-square" aria-hidden="true"></i>
                        </span>
                        <input type="text" class="form-control form-control8392" placeholder="Find Some Interesting Things Here?">
                        <span class="input-group-addon">
                            <a href="#">Ask Now</a>
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="main-content920">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div id="main">
                        <input id="tab1" type="radio" name="tabs" checked>
                        <label for="tab1">Riddles</label>

                        <input id="tab2" type="radio" name="tabs">
                        <label for="tab2">Share Sth. Intersting</label>

                        <input id="tab3" type="radio" name="tabs">
                        <label for="tab3">Ask For Help</label>

                        <input id="tab4" type="radio" name="tabs">
                        <label for="tab4">Find Friends</label>
                        
                        <input id="tab5" type="radio" name="tabs">
                        <label for="tab5">Else</label>

                        <!-- 这个是用来写分享 -->
                        <input id="tab6" name="tabs" onclick="window.location.href='{% url 'forum:share' %}'">
                        <label for="tab6">Share sth.</label>
                        
                        <!-- 从这里开始是下面的主要内容 -->

                        {% for theme_id, data in contents %}
                        <section id="content{{theme_id}}">
                            {% for single_post in data.posts %}
                            <div class="question-type2033">
                                <div class="row">
                                    <div class="col-md-1">
                                        <div class="left-user12923 left-user12923-repeat">
                                            <a href="#"><img src="{% static 'imgs/images.png' %}" alt="image"> </a>
                                            <a href="{% url 'forum:post_detail' post_id=single_post.id %}"><i class="fa fa-check" aria-hidden="true"></i></a> 
                                        </div>
                                    </div>
                                    
                                    <div class="col-md-9">
                                        <div class="right-description893">
                                            <div id="que-hedder2983">
                                                <h3><a href="{% url 'forum:post_detail' post_id=single_post.id %}">{{ single_post.post_title }}</a></h3>
                                            </div>
                                            <div class="ques-details10018">
                                                <p>{{ single_post.post_detail|safe }}.</p>
                                            </div>
                                            <hr>
                                            <div class="ques-icon-info3293">
                                                <a href="#"><i class="fa fa-star" aria-hidden="true"> {{ single_post.post_likes }} </i> </a>
                                                <a href="#"><i class="fa fa-clock-o" aria-hidden="true"> {{ single_post.publish_date }} </i></a>
                                                <a href="#"><i class="fa fa-question-circle-o" aria-hidden="true"> {{ single_post.theme }} </i></a>
                                                <a href="#"><i class="fa fa-bug" aria-hidden="true"> Report</i></a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-md-2">
                                        <div class="ques-type302">
                                            <a href="{% url 'forum:post_detail' post_id=single_post.id %}">
                                                <button type="button" class="q-type238"><i class="fa fa-comment" aria-hidden="true"> {{single_post.comments}} comments </i></button>
                                            </a>
                                            <a href="{% url 'forum:post_detail' post_id=single_post.id %}">
                                                <button type="button" class="q-type23 button-ques2973"><i class="fa fa-user-circle-o" aria-hidden="true"> {{single_post.likes}} likes </i></button>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}

                            <nav aria-label="Page navigation">
                                <ul class="pagination">
                                    {% if data.page_obj.has_previous %}
                                        <li class="page-item">
                                            <a class="page-link" href="?page=1" aria-label="First">
                                                <span aria-hidden="true">&laquo;&laquo;</span>
                                            </a>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link" href="?page={{ data.page_obj.previous_page_number }}" aria-label="Previous">
                                                <span aria-hidden="true">&laquo;</span>
                                            </a>
                                        </li>
                                    {% else %}
                                        <li class="page-item disabled">
                                            <span class="page-link" aria-hidden="true">&laquo;&laquo;</span>
                                        </li>
                                        <li class="page-item disabled">
                                            <span class="page-link" aria-hidden="true">&laquo;</span>
                                        </li>
                                    {% endif %}

                                    {% for num in data.paginator.page_range %}
                                        {% if data.page_obj.number == num %}
                                            <li class="page-item active"><span class="page-link">{{ num }}</span></li>
                                        {% elif num > data.page_obj.number|add:'-3' and num < data.page_obj.number|add:'3' %}
                                            <li class="page-item"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
                                        {% endif %}
                                    {% endfor %}

                                    {% if data.page_obj.has_next %}
                                        <li class="page-item">
                                            <a class="page-link" href="?page={{ data.page_obj.next_page_number }}" aria-label="Next">
                                                <span aria-hidden="true">&raquo;</span>
                                            </a>
                                        </li>
                                        <li class="page-item">
                                            <a class="page-link" href="?page={{ data.paginator.num_pages }}" aria-label="Last">
                                                <span aria-hidden="true">&raquo;&raquo;</span>
                                            </a>
                                        </li>
                                    {% else %}
                                        <li class="page-item disabled">
                                            <span class="page-link" aria-hidden="true">&raquo;</span>
                                        </li>
                                        <li class="page-item disabled">
                                            <span class="page-link" aria-hidden="true">&raquo;&raquo;</span>
                                        </li>
                                    {% endif %}
                                </ul>
                            </nav>
                        </section>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </section>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/editor.js' %}"></script>
    <script>
        $(document).ready(function() {
            $("#txtEditor").Editor();
        });
    </script>
</body>
</html>
