{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="title" content="Ask online Form">
    <meta name="language" content="English">
    <title>Forum</title>

    <link rel="stylesheet" href="{% static 'css/responsive.css'%}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css'%}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/style.css' %}"  type="text/css">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" type="text/css">

    <style>
        .show-comment-box {
            position: fixed;
            bottom: 20px;
            left: 50%;
            width: 77%;
            transform: translateX(-50%);
            background-color: rgb(18, 36, 105);
            padding: 10px;
            border: 1px solid #ccc;
            box-shadow: 0 2px 5px rgba(65, 11, 11, 0.1);
            z-index: 999;
        }
    </style>
</head>

<body>

    <section class="header-descriptin329">
        <!-- 这里是最上面的header哈 -->
        <div class="container">
            <h3>Post Details</h3>
            <ol class="breadcrumb breadcrumb839">
                <li><a href="#">Home</a></li>
                <li><a href="#">Post Details</a></li>
                <li class="active">This Is My first Question</li>
            </ol>
        </div>
    </section>

    <section class="main-content920">
        <div class="container">
            <div class="row">
                <div class="col-md-9">

                    <div class="post-details">
                        <!-- 这里是详细的分享内容 -->
                        <div class="details-header923">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="post-title-left129">
                                        <h3>This Is My first Question</h3> 
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="post-details-info1982">
                            <p>Lorem ipsum dolor sit amet</p>
                            <p>Lorem ipsum dolor sit amet</p>
                            <hr>

                            <div class="post-footer29032">
                                <div class="l-side2023"> 

                                    <i class="fa fa-check check2" aria-hidden="true"> solved</i>
                                     <a href="#"><i class="fa fa-star star2" aria-hidden="true">5</i></a> 
                                     <i class="fa fa-folder folder2" aria-hidden="true"> wordpress</i> 
                                     <i class="fa fa-clock-o clock2" aria-hidden="true"> 4 min ago</i> 
                                     <a href="#"><i class="fa fa-commenting commenting2" aria-hidden="true"> 5 answer</i></a> 
                                     <i class="fa fa-user user2" aria-hidden="true"> 70 views</i> </div>

                                <div class="l-rightside39">
                                    <button type="button" class="tolltip-button thumbs-up2" data-toggle="tooltip" data-placement="bottom" title="Like">
                                        <i class="fa fa-thumbs-o-up " aria-hidden="true"></i>
                                    </button>
                                    <button type="button" class="tolltip-button  thumbs-down2" data-toggle="tooltip" data-placement="bottom" title="Dislike">
                                        <i class="fa fa-thumbs-o-down" aria-hidden="true"></i>
                                    </button> 
                                    <span class="single-question-vote-result">+22</span>
                                </div>

                            </div>
                        </div>

                    </div>


                    <div class="author-details8392">
                        <!-- 这里是作者的信息 -->
                        <div class="author-img202l"> 
                            <img src="{% static 'imgs/images.png'%}" alt="image">
                            <div class="au-image-overlay text-center"> 
                                <a href="#">
                                    <i class="fa fa-plus-square-o" aria-hidden="true">
                                    </i>
                                </a> 
                            </div>
                        </div>
                        <h5>About the Author</h5>
                        <p>Description</p>
                    </div>
                    
                    <div class="comment-list12993">
                        <!-- 这里是针对分享的评论以及对评论的评论 -->
                        <div class="container">
                            <div class="row">
                                <div class="comments-container">
                                    
                                    <ul id="comments-list" class="comments-list">

                                        {% for main_comment in main_comments %}
                                        <li>
                                            <!-- main-level针对的是对整个post的评论 -->
                                             <div class="comment-main-level">
                                                <!-- Avatar -->
                                                <div class="comment-avatar"><img src="{% static 'imgs/images.png'%}" alt=""></div>
                                                <!-- Contenedor del Comentario -->
                                                <div class="comment-box">
                                                    <div class="comment-head" >
                                                        <h6 class="comment-name"><a href="#">Lorena Rojero</a></h6> 
                                                        <span><i class="fa fa-clock-o" aria-hidden="true"> January 15 , 2014 at 10:00 pm</i></span> 
                                                        <i class="fa fa-reply"></i> <i class="fa fa-heart"></i> 
                                                    </div>
                                                    <div class="comment-content main_comment" data-comment-id="{{ main_comment.id }}"> {{ main_comment.main }} </div>
                                                </div>
                                            </div>
                                                
                                            
                                            <ul class="comments-list reply-list">
                                                <!-- 这里的comments-list, reply-list表示的是对本评论的回复 -->
                                                {% for reply in main_comment.replys %}
                                                <li>
                                                    <div class="comment-avatar"><img src="{% static 'imgs/images.png'%}" alt=""></div>
                                                    <div class="comment-box">
                                                        <div class="comment-head">
                                                            <h6 class="comment-name"><a href="#">Lorena Rojero</a></h6>
                                                             <span><i class="fa fa-clock-o" aria-hidden="true"> January 15 , 2014 at 10:00 pm</i></span> 
                                                             <i class="fa fa-reply"></i> <i class="fa fa-heart"></i> </div>
                                                        <div class="comment-content"> {{reply}} </div>
                                                    </div>
                                                </li>
                                                {% endfor %}
                                            </ul>
                                        </li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="comment289-box" id='comment_box'>
                        <!-- 这里是给一个评论或评论评论的地方 -->
                        <h3>Leave A Reply</h3>
                            <div class="col-md-12">
                                <div class="post9320-box">
                                    <input type="text" class="comment-input219882" placeholder="Enter Your Comments">
                                </div>
                                <button type="button" class="pos393-submit">Post Your Answer</button>
                                <br>
                                <br>
                                <br>
                            </div>
                    </div>
                    
                </div>

            </div>
    </section>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/editor.js' %}"></script>
    <script>
        $(document).ready(function() {

            function replyToComment() {
                // 添加一个类，改变评论框的位置和样式
                var commentBox = document.getElementById('comment_box');
                commentBox.classList.add('show-comment-box');
            }

            function submitComment() {
                // 从评论框中获取用户输入的内容
                var commentContent = document.querySelector('.comment-input219882').value;
                
                // 这里可以进行提交评论的操作，比如将评论内容发送给服务器
                // 移除添加的类，恢复评论框原来的位置和样式
                var commentBox = document.getElementById('comment_box');
                commentBox.classList.remove('show-comment-box');
            }

            var replyButton = document.querySelector('.pos393-submit');
            replyButton.addEventListener('click', submitComment);

            // 点击主要评论文本时触发事件
            $('.main_comment').click(function() {
                // 获取被回复的主要评论ID
                var commentId = $(this).data('comment-id');
                replyToComment();
                // 弹出文本框，这里使用简单的alert代替
                // 你可以使用模态框或自定义的文本框来实现
                
                /* var replyContent = prompt('Reply to this comment:');
                
                // 用户输入回复内容后，可以将回复内容POST给服务器
                // 这里只是简单地打印出回复内容和被回复的主要评论ID
                if (replyContent !== null && replyContent.trim() !== '') {
                    console.log('Reply to comment ' + commentId + ': ' + replyContent);
                    // 在这里发送POST请求给服务器，将回复内容和被回复的主要评论ID一起发送
                } */
            });
        });
    </script>
</body>
</html>


