{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="title" content="Ask online Form">
    <meta name="language" content="English">
    <title>Forum</title>

    <link rel="stylesheet" href="{% static 'css/responsive.css'%}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css'%}" type="text/css">
    <link rel="stylesheet"href="{% static 'css/style.css' %}"  type="text/css">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" type="text/css"> 
</head>

<body>

    <section class="header-descriptin329">
        <!-- 这里是最上面的header哈 -->
        <div class="container">
            <h3>Post Details</h3>
            <ol class="breadcrumb breadcrumb839">
                <li><a href="#">Home</a></li>
                <li><a href="#">Post Details</a></li>
                <li class="active">This Is My first Question</li>
            </ol>
        </div>
    </section>

    <section class="main-content920">
        <div class="container">
            <div class="row">

                <div class="col-md-9">
                    <div class="post-details">

                        <div class="details-header923">
                            <div class="row">
                                <div class="col-md-8">
                                    <div class="post-title-left129">
                                        <h3>This Is My first Question</h3> 
                                    </div>
                                </div>
                            </div>
                        </div>


                        <div class="post-details-info1982">
                            <p>Lorem ipsum dolor sit amet</p>
                            <p>Lorem ipsum dolor sit amet</p>
                            <hr>

                            <div class="post-footer29032">
                                <div class="l-side2023"> 

                                    <i class="fa fa-check check2" aria-hidden="true"> solved</i>
                                     <a href="#"><i class="fa fa-star star2" aria-hidden="true">5</i></a> 
                                     <i class="fa fa-folder folder2" aria-hidden="true"> wordpress</i> 
                                     <i class="fa fa-clock-o clock2" aria-hidden="true"> 4 min ago</i> 
                                     <a href="#"><i class="fa fa-commenting commenting2" aria-hidden="true"> 5 answer</i></a> 
                                     <i class="fa fa-user user2" aria-hidden="true"> 70 views</i> </div>

                                <div class="l-rightside39">
                                    <button type="button" class="tolltip-button thumbs-up2" data-toggle="tooltip" data-placement="bottom" title="Like">
                                        <i class="fa fa-thumbs-o-up " aria-hidden="true"></i>
                                    </button>
                                    <button type="button" class="tolltip-button  thumbs-down2" data-toggle="tooltip" data-placement="bottom" title="Dislike">
                                        <i class="fa fa-thumbs-o-down" aria-hidden="true"></i>
                                    </button> 
                                    <span class="single-question-vote-result">+22</span>
                                </div>

                            </div>
                        </div>

                    </div>

                    <div class="author-details8392">
                        <div class="author-img202l"> 
                            <img src="{% static 'imgs/images.png'%}" alt="image">
                            <div class="au-image-overlay text-center"> 
                                <a href="#">
                                    <i class="fa fa-plus-square-o" aria-hidden="true">
                                    </i>
                                </a> 
                            </div>
                        </div>
                   <h5>About the Author</h5>
                    <p>Description</p>
                    
                </span> </div>

                    <div class="comment-list12993">
                        <div class="container">
                            <div class="row">
                                <div class="comments-container">
                                    <ul id="comments-list" class="comments-list">

                                        <li>
                                            <!-- main-level针对的是对整个post的评论 -->
                                             <div class="comment-main-level">
                                                <!-- Avatar -->
                                                <div class="comment-avatar"><img src="{% static 'imgs/images.png'%}" alt=""></div>
                                                <!-- Contenedor del Comentario -->
                                                <div class="comment-box">
                                                    <div class="comment-head">
                                                        <h6 class="comment-name"><a href="#">Lorena Rojero</a></h6> <span><i class="fa fa-clock-o" aria-hidden="true"> January 15 , 2014 at 10:00 pm</i></span> <i class="fa fa-reply"></i> <i class="fa fa-heart"></i> </div>
                                                    <div class="comment-content"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit omnis animi et iure laudantium vitae, praesentium optio, sapiente distinctio illo? </div>
                                                </div>
                                            </div>
                                                
                                      
                                            <ul class="comments-list reply-list">
                                                <!-- 这里的comments-list, reply-list表示的是对本评论的回复 -->
                                                <li>
                                                    <div class="comment-avatar"><img src="{% static 'imgs/images.png'%}" alt=""></div>
                                                    <div class="comment-box">
                                                        <div class="comment-head">
                                                            <h6 class="comment-name"><a href="#">Lorena Rojero</a></h6> <span><i class="fa fa-clock-o" aria-hidden="true"> January 15 , 2014 at 10:00 pm</i></span> <i class="fa fa-reply"></i> <i class="fa fa-heart"></i> </div>
                                                        <div class="comment-content"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit omnis animi et iure laudantium vitae, praesentium optio, sapiente distinctio illo? </div>
                                                    </div>
                                                </li>

                                                <li>
                                                    <div class="comment-avatar"><img src="{% static 'imgs/images.png'%}" alt=""></div>
                                                    <div class="comment-box">
                                                        <div class="comment-head">
                                                            <h6 class="comment-name by-author"><a href="#">Agustin Ortiz</a></h6> <span><i class="fa fa-clock-o" aria-hidden="true"> January 15 , 2014 at 10:00 pm</i></span> <i class="fa fa-reply"></i> <i class="fa fa-heart"></i> </div>
                                                        <div class="comment-content"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit omnis animi et iure laudantium vitae, praesentium optio, sapiente distinctio illo? </div>
                                                    </div>
                                                </li>

                                                <li>
                                                    <div class="comment-avatar"><img src="{% static 'imgs/images.png'%}" alt=""></div>
                                                    <div class="comment-box">
                                                        <div class="comment-head">
                                                            <h6 class="comment-name"><a href="#">Lorena Rojero</a></h6> <span><i class="fa fa-clock-o" aria-hidden="true"> January 15 , 2014 at 10:00 pm</i></span> <i class="fa fa-reply"></i> <i class="fa fa-heart"></i> </div>
                                                        <div class="comment-content"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit omnis animi et iure laudantium vitae, praesentium optio, sapiente distinctio illo? </div>
                                                    </div>
                                                </li>

                                            </ul>
                                        </li>

                                        <li>
                                            <div class="comment-main-level">
                                                <!-- Avatar -->
                                                <div class="comment-avatar"><img src="{% static 'imgs/images.png'%}" alt=""></div>
                                                <!-- Contenedor del Comentario -->
                                                <div class="comment-box">
                                                    <div class="comment-head">
                                                        <h6 class="comment-name"><a href="#">Lorena Rojero</a></h6> <span><i class="fa fa-clock-o" aria-hidden="true"> January 15 , 2014 at 10:00 pm</i></span> <i class="fa fa-reply"></i> <i class="fa fa-heart"></i> </div>
                                                    <div class="comment-content"> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Velit omnis animi et iure laudantium vitae, praesentium optio, sapiente distinctio illo? </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="comment289-box">
                        <h3>Leave A Reply</h3>
                            <div class="col-md-12">
                                <div class="post9320-box">
                                    <input type="text" class="comment-input219882" placeholder="Enter Your Comments">
                                </div>
                                <button type="button" class="pos393-submit">Post Your Answer</button>
                                <br>
                                <br>
                                <br>
                            </div>
                    </div>
                    
                </div>

            </div>
    </section>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/editor.js' %}"></script>
</body>
</html>