{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="title" content="Ask online Form">
    <meta name="language" content="English">
    <title>Forum</title>

    <link rel="stylesheet" href="{% static 'css/responsive.css'%}" type="text/css">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css'%}" type="text/css">
    <link rel="stylesheet"href="{% static 'css/style.css' %}"  type="text/css">
    <link rel="stylesheet" href="{% static 'css/font-awesome.min.css' %}" type="text/css"> 
</head>

<body>
    <!-- ======breadcrumb ======-->
    <section class="header-descriptin329">
        <div class="container">
            <h3>User Deatils</h3>
            <ol class="breadcrumb breadcrumb839">
                <li><a href="#">Home</a></li>
                <li class="active">User Details</li>
            </ol>
        </div>
    </section>

    <section class="main-content920">
        <div class="container">
            <div class="row">
                <div class="col-md-9">
                    <div class="about-user2039 mt-70">
                        <div class="user-title3930">
                            <h3>About <a href="#">Ahmed Hassan</a></h3>
                        </div>
                        <hr>
                        <div class="user-image293"> <img src="image/images.png" alt="Image"> </div>
                        <div class="user-list10039">
                            <div class="ul-list-user-left29">
                                <ul>
                                    <li>
                                        <i class="fa fa-plus" aria-hidden="true"></i> 
                                        <strong>Registered:</strong> 
                                        June 4, 2014
                                    </li>
                                    <li>
                                        <i class="fa fa-map-marker" aria-hidden="true"></i>
                                        <strong>Country:</strong> 
                                        Egypt
                                    </li>
                                    <li>
                                        <i class="fa fa-heart" aria-hidden="true"></i> 
                                        <strong>Age:</strong> 
                                        27
                                    </li>
                                </ul>
                            </div>
                            <div class="ul-list-user-right29">
                                <ul>
                                    <li>
                                        <i class="fa fa-phone" aria-hidden="true"></i> 
                                        <strong>Phone:</strong> 
                                        01111111110
                                    </li>
                                    <li>
                                        <i class="fa fa-globe" aria-hidden="true"></i> 
                                        <strong>City:</strong> 
                                        Cairo
                                    </li>
                                    <li>
                                        <i class="fa fa-user" aria-hidden="true"></i> 
                                        <strong>Sex: </strong>
                                        Male
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="user-description303">
                            <p>bio here~~~</p> 
                            <a href="#">Ask Ahmed Hasan</a> 
                        </div>

                    </div>

                    <div class="user-statas921">
                       <div class="row">
                       <div class="col-md-9">
                        <div class="ul_list_ul_list-icon-ok281">
                            <ul>
                                <li><a href="#">Questions ( 4 )</a></li>
                                <li><a href="#">Asked Questions ( 0 )</a></li>
                                <li><a href="#">Followed Questions ( 3 )</a></li>
                                <li><a href="#">Posts ( 10 )</a></li>
                                <li><a href="#">Points ( 208 )</a></li>
                                <li><a href="#">Followers ( 47 )</a></li>
                                <li><a href="#">Comments ( 1 )</a></li>
                            </ul>
                        </div>
                           </div>
                           
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="{% static 'js/jquery-3.1.1.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
    <script src="{% static 'js/editor.js' %}"></script>
    <script>
        $(document).ready(function() {
            $("#txtEditor").Editor();
        });
    </script>
</body>
</html>