{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="robots" content="noindex, nofollow">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A layout example that shows off a blog page with a list of comments.">
    <title>Pure Admin Panel</title>

    <link rel="stylesheet" href="{% static 'css/pure-min.css' %}">
    <link rel="stylesheet" href="{% static 'css/pure-responsive-min.css' %}">
    <link rel="stylesheet" href="{% static 'css/admin_style.css' %}">
</head>
<body>
    <div id="layout" class="pure-g">
        <div class="sidebar pure-u-1 pure-u-md-3-24">
            <div id="menu">
                <div class="pure-menu">
                    <p class="pure-menu-heading">
                        <p style="font-size:2.5em; display: inline;">Admin</p>
                        <a href="{% url "accounts:signup_login"%}" class="pure-button button-xxsmall">OUT &raquo;</a>
                    </p>
                    <ul class="pure-menu-list">
                        <li class="pure-menu-item">
                            <a href="{% url "admin_panel:dashboard" %}" class="pure-menu-link">Dashboard</a>
                        </li>

                        <p style="font-size:1.5em; display: inline;">Posts</p>
                        <li class="pure-menu-item menu-item-divided">
                            <a href="{% url "admin_panel:riddles" %}" class="pure-menu-link">Riddles</a>
                        </li>

                        <li>
                            <a href="{% url "admin_panel:share_sth_interesting" %}" class="pure-menu-link">Share Sth, Interesting</a>
                        </li>

                        <li>
                            <a href="{% url "admin_panel:find_friends" %}" class="pure-menu-link">Find Friends</a>
                        </li>

                        <li>
                            <a href="{% url "admin_panel:else" %}" class="pure-menu-link">Else</a>
                        </li>
                        
                        <p style="font-size:1.5em; display: inline;">Comments</p>

                        <li class="pure-menu-item menu-item-divided">
                            <a href="{% url "admin_panel:show_comments" %}" class="pure-menu-link">All Comments</a>
                        </li>

                        <p style="font-size:1.5em; display: inline;">Users</p>

                        <li class="pure-menu-item menu-item-divided">
                            <a href="{% url "admin_panel:user_list" %}" class="pure-menu-link">All Users</a>
                        </li>

                        <p style="font-size:1.5em; display: inline;">Raffles</p>
                        <li class="pure-menu-item menu-item-divided">
                            <a href="#" class="pure-menu-link">Edit Prizes <br>For Raffle</a>
                        </li>

                        
                        <li class="pure-menu-item menu-item-divided">
                            <a href="{% url "home"%}" class="pure-menu-link">
                                <p style="font-size:2em; display: inline;">Home</p>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="content pure-u-1 pure-u-md-21-24">
            <div class="header-small">
                <div class="items">
                    <h1 class="subhead">User List</h1>

                    <table class="pure-table pure-table-bordered">
                        <thead>
                        <tr>
                            <th>Id</th>
                            <th>Name</th>
                            <th>Email</th>
                            <th>Gender</th>
                            <th>Register Date</th>
                            <th>Likes</th>
                            <th>Comments</th>
                            <th>Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                            {% for user in users %}
                            <tr>
                                <td>{{ user.id }}</td>
                                <td>{{ user.name }}</td>
                                <td>{{ user.email }}</td>
                                <td>{{ user.get_gender_display }}</td>
                                <td>{{ user.register_date }}</td>
                                <td>{{ user.likes_num }}</td>
                                <td>{{ user.comments_num }}</td>
                                <td>
                                    <form method="post" class="pure-button button-small button-error" action="{% url 'admin_panel:delete_user' %}">
                                        {% csrf_token %}
                                        <input type="hidden" name="user_id" value="{{ user.id }}">
                                        <input type="hidden" name="return_url" value="{{ this_url }}">
                                        <button type="submit" onclick="return confirm('Are you sure?');" style="background: none; border: none; padding: 0; font: inherit; cursor: pointer;">Delete</button>
                                    </form>
                                </td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>

                <div class="navigation">
                    <div class="pure-button-group">
                        {% if users.has_previous %}
                        <a href="?page=1" class="pure-button">First</a>
                        <a href="?page={{ users.previous_page_number }}" class="pure-button">Previous</a>
                        {% endif %}
                        <span class="pure-button pure-button-disabled">Page {{ users.number }} of {{ users.paginator.num_pages }}</span>
                        {% if users.has_next %}
                        <a href="?page={{ users.next_page_number }}" class="pure-button">Next</a>
                        <a href="?page={{ users.paginator.num_pages }}" class="pure-button">Last</a>
                        {% endif %}
                    </div>
                </div>

                <div class="footer">
                    <div class="pure-menu pure-menu-horizontal">
                        <ul>
                            <li class="pure-menu-item"><a href="#" class="pure-menu-link">1</a></li>
                            <li class="pure-menu-item"><a href="#" class="pure-menu-link">2</a></li>
                            <li class="pure-menu-item"><a href="#" class="pure-menu-link">3</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
