{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile</title>
    {% comment %} <link rel="stylesheet" href="{% static 'css/signup_login.css' %}"> {% endcomment %}
    <link rel="stylesheet" href="{% static 'css/msg_for_all.css' %}">
</head>

<body>
    <h1>Profile</h1>

    {% if messages %}
    <div class="message-container">
      {% for message in messages %}
        <div class="message {% if message.tags %}{{ message.tags }}{% endif %}">
          {{ message }}
        </div>
      {% endfor %}
    </div>
    {% endif %}

    <!-- 这里是主要部分，用于展示用户信息，修改用户信息 -->
    <form action="{% url 'accounts:change_profile' %}" method="post">
        {% csrf_token %}

        <label for="avator">Avator:</label>
        <img src="{{ MEDIA_URL }}avators/default.png">
        <br>
        <input type="file" id="avator" name="avator">
        <br>

        <label for="username">name:</label>
        <input type="text" id="username" name="username" placeholder="{{ username }}">
        <br>

        <label for="email">Email:</label>
        <span id="email">{{ email }}</span>
        <br>
        
        <label for="gender">Gender:</label>
        <input type="radio" id="male" name="gender" value="male" {% if gender == 'male' %} checked {% endif %}>
        <label for="male">Male</label>
        <input type="radio" id="female" name="gender" value="female" {% if gender == 'female' %} checked {% endif %}>
        <label for="female">Female</label>
        <input type="radio" id="female" name="gender" value="female" {% if gender == 'uncertain' %} checked {% endif %}>
        <label for="female">Uncertain</label>
        <br>

        <label for="birthday">Birthday:</label>
        <input type="date" id="birthday" name="birthday" value="{{ birthday }}">
        <br>

        <label for="bio">Biography:</label>
        <br>
        <textarea id="bio" name="bio" rows="4" cols="50" placeholder="{{ bio }}"></textarea>
        <br>

        <!-- 下面这部分只给看 -->
        <label for="likes">Likes:</label>
        <span id="likes">{{ likes }}</span>
        <br>

        <label for="liked_by">Liked By:</label>
        <span id="liked_by">{{ liked_by }}</span>
        <br>

        <label for="followers">Followers:</label>
        <span id="followers">{{ followers }}</span>
        <br>

        <label for="following">Following:</label>
        <span id="following">{{ following }}</span>
        <br>

        <input type="submit" value="Confirm">
    </form>

</body>
</html>

